*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

body {
  background: white;
  max-width: 1312px;
  margin: 0 auto;
}

body aside {
  background: #F9F9F9;
}

aside {
  padding: 0 24px 27px 24px;
}

.base {
  margin: 0 auto;
  min-height: calc(100vh - 80px);
  display: grid;
  grid-template-columns: 296px 1fr;
}

.breadcrumb {
  text-decoration: none;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  opacity: 0.5;
  padding-bottom: 24px;
}

.breadcrumb-nav {
  padding: 14px 0;
}

.item {
  padding: 0;
}

.product-section {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(216px, 1fr));
  grid-auto-flow: dense;
  margin-left: 24px;
}

.product-list__item {
  position: relative;
  display: grid;
  grid-gap: 2px;
  grid-template-rows: 1fr auto auto auto;
  margin: 5px;
  height: auto;
  min-width: 216px;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  z-index: 1;
}

.product-list__item:active {
  border: 1px solid #FBBA3C;
}

.product-list__item:hover .breed {
  color: #FBBA3C;
}

button {
  border: 0;
  outline: none;
  border-radius: 4px;
  background-color: #FBBA3C;
  font-weight: 500;
}

.inBox {
  width: 116px;
  height: 31px;
  padding: 5px;
  margin-left: 10px;
}

.item-button-box {
  position: absolute;
  bottom: 0;
  padding: 10px 0 18px 5px;
  z-index: 3;
}

.breed {
  font-size: 16px;
  padding: 10px 18px 5px 18px;
}

.price {
  font-size: 20px;
  padding: 10px 5px 55px 18px;
}

a {
  text-decoration: none;
}

h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
  padding: 16px 0;
}

.opacity-border {
  opacity: 0.1;
  border-bottom: 1px solid #000000;
  padding-top: 10px;
  margin-bottom: 10px;
}

.buttons:hover {
  background-color: #FCD17D;
}

.buttons:active {
  background-color: #E19605;
}

.img-div,
.img-pet {
  width: 100%;
  border-radius: 4px;
}

.show-more {
  width: 135px;
  height: 37px;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  }

.div-show-more {
  display: grid;
  justify-content: center;
}

.label {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkbox {
  display: none;
}

.fake-checkbox {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  background: white;
  border: 1px solid #E8E8E8;
  border-radius: 4px;
}

.fake-checkbox::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 12px;
  height: 9px;
  background: url("../css/iconButton/checkbox_checked.svg");
  opacity: 0;
  transition: .2s;
}

.checkbox:checked + .fake-checkbox::before {
  opacity: 1;
}

@media (max-width: 639px) {
  .base {
    display: block;
  }

  .breadcrumb-nav {
    display: none;
  }
}
