*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

body {
  background: #F9F9F9;
  max-width: 1312px;
  margin: 0 auto;
}

aside {
  padding: 0 24px 27px 24px;
}

.base-card {
  margin: 0 auto;
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 2fr 3fr;
}

.breadcrumb-nav {
  margin: 14px 0;
}

.breadcrumb {
  text-decoration: none;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  opacity: 0.5;
}

button {
  border: 0;
  outline: none;
  border-radius: 4px;
  background-color: #FBBA3C;
  font-weight: 500;
}

.take {
  width: 110px;
  height: 37px;
  padding: 5px;
}

.inBox {
  background-color: white;
  border: 1px solid lightgray;
  height: 37px;
  width: 220px;
}

.price-label {
  font-weight: 500;
  font-size: 16px;
  padding: 18px 0 8px 0;
}

.price {
  font-size: 20px;
  font-weight: 600;
  color: #FBBA3C;
  padding-bottom: 14px;
}

a {
  text-decoration: none;
}

h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
  margin-bottom: 16px;
}

h2 {
  font-size: 20px;
  padding-bottom: 10px;
}

.opacity-border {
  opacity: 0.1;
  border-bottom: 1px solid #000000;
  padding-top: 10px;
  margin-bottom: 23px;
}

.buttons:hover {
  background-color: #FCD17D;
}

.buttons:active {
  background-color: #FBBA3C;
}

.img-pet {
  border-radius: 8px;
  width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  font-size: 16px;
}

table td {
  padding: 10px 0;
  line-height: 1.2;
  vertical-align: middle;
}

.first-column {
  width: 45%;
  opacity: 0.5;
 }

.gray {
  background: rgba(196, 196, 196, 0.1);
}

@media (max-width: 639px) {
  aside {
    padding: 0 15px 27px 15px;
  }

  .img-pet {
    max-width: 300px;
  }

  .base-card {
    display: block;
  }

  .breadcrumb-nav {
    display: none;
  }

  h2 {
    padding-top: 24px;
  }

  .take {
    max-width: 40%;
  }

  .inBox {
    max-width: 60%;
  }
}
