*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

.section-box {
  position: fixed;
  background: #FFFFFF;
  padding: 24px 40px;
  width: 658px;
  height: 100%;
  z-index: 5;
  top: 0;
  right: 0;
  overflow: auto;
}

.shadow-box {
  position: fixed;
  background-color: black;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  z-index: 4;
}

body .all-menu,
body .row-items {
  background: white;
}

.row-items {
  padding: 0;
}

.header-box {
  padding-bottom: 26px;
}

.header-box,
.all-menu {
  display: grid;
  grid-template-columns: 1fr auto;
}

.exit-div,
.del-all-div,
.del-item-div {
  justify-content: end;
}

.del-all-div,
.check-all-div,
.h1-div,
.exit-div,
.check-item,
.del-item-div {
  display: grid;
  align-content: center;
}

.h1-box {
  font-weight: 500;
  font-size: 24px;
}

.info-item {
  display: flex;
  align-items: center;
}

.bred-calc-div {
  display: grid;
  grid-template-columns: auto 1fr;
  align-content: center;
}

.info-item label {
  padding: 0;
}

button {
  border: 0;
  outline: none;
  border-radius: 4px;
  font-weight: 500;
}

.checkbox {
  margin-right: 14px;
}

.calk {
  width: 24px;
  height: 24px;
  border: 1px solid #E8E8E8;
  background-color: white;
  }

.calk:hover {
  cursor: pointer;
  background-color: whitesmoke;
}

.calk:active {
  background-color: #C4C4C4;
}

.photo-pet-span,
.photo-pet-box {
  height: 79px;
  width: 100px;
  border-radius: 4px;
  padding: 0;
  }

.photo-pet-span,
.del-all-checkbox {
  margin: 0 14px;
}

.breed-box {
  margin-right: 14px;
  font-size: 16px;
}

.quantity-breed {
  margin: 0 10px;
}

.order {
  background-color: #FBBA3C;
  border: 1px solid lightgray;
  height: 37px;
  width: 220px;
}

.order:hover {
  background-color: #FCD17D;
}

.order:active {
  background-color: #E19605;
}

.order span {
  font-weight: 500;
  font-size: 14px;
}

.price-label {
  font-weight: 500;
  font-size: 16px;
  padding: 18px 0 8px 0;

}

.price-box,
.total-price {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 14px;
  padding-left: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.opacity-border-box {
  opacity: 0.1;
  border-bottom: 1px solid #000000;
  padding-top: 10px;
  margin-bottom: 10px;
}

.container-item {
  display: grid;
  grid-template-columns: auto auto 1fr;
}

.img-pet {
  border-radius: 8px;
  width: 100%;
}

.photo-pet-span {
  padding-left: 0;
}

.total-amount {
  font-size: 14px;
  padding-right: 8px;
}

.summary-info {
  padding-bottom: 22px;
}

footer {
  text-align: center;
  padding-top: 25px;
}

.label {
  cursor: pointer;
}

.checkbox {
  display: none;
}

.fake-checkbox {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  background: white;
  border: 1px solid #E8E8E8;
  border-radius: 4px;
}

.fake-checkbox::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 12px;
  height: 9px;
  background: url("../css/iconButton/checkbox_checked.svg");
  opacity: 0;
  transition: .2s;
}

.checkbox:checked + .fake-checkbox::before {
  opacity: 1;
}

.all-menu {
  padding: 0;
}

@media (max-width: 639px) {

  .section-box {
    width: 100%;
    height: 100%;
  }

  .header-box,
  .all-menu {
    display: grid;
    grid-template-columns: auto auto;
  }

  .container-item {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 40px;
  }

  .bred-calc-div {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: auto 1fr;
    align-items: center;
  }

  .info-item * {
    padding: 0 1%;
  }

  .section-box {
    padding: 40px 24px;
  }

  .del-item {
    position: absolute;
    right: 0;
    top: 40px;
  }

  .row-items {
    position: relative;
  }

  .price-box {
    margin-right: 20px;
  }
}
